<h2 class="text-center"> Por Region </h2>
<br>

<!-- Search Box -->
<main class="row">
  <section class="col text-center">
    <button
      (click)="searchByRegion(region)"
      class="btn btn-success m-3"
      type="button"
      *ngFor="let region of regions">
      {{region}}
    </button>
  </section>
</main>
<br>


<!-- Result Table -->
<main class="row">
  <section class="col">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-country-table [tableCountries]="countries"></countries-country-table>
  </section>
</main>