<!-- Navbar -->
<h2>Busqueda</h2>
<hr>
<ul class="list-group">
    <!-- Pais -->
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" class="list-group-item">
        Buscar Pais
    </li>
    <!-- Region -->
    <li routerLink="region" routerLinkActive="active" class="list-group-item">
        Buscar Por Region
    </li>
    <!-- Capital -->
    <li routerLink="capital" routerLinkActive="active" class="list-group-item">
        Buscar Por Capital
    </li>
</ul>